# Render PostgreSQL
DATABASE_URL=postgresql://user:password@host:5432/database

# Wajib ganti dengan random panjang
SECRET_KEY=ganti-dengan-secret-key-panjang
FLASK_ENV=production
SESSION_COOKIE_SECURE=1

# Domain website
SITE_NAME=Raja Topup Games
SITE_URL=https://sky123fire.xyz
DEFAULT_META_DESCRIPTION=Top up game murah, cepat, aman, dan terpercaya 24 jam.

# Email optional untuk lupa password
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=1
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER=

# Telegram optional
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
